h1 {
    text-align: center;
}

label {
    width: 150px;
    line-height: 26px;
    margin-bottom: 10px;
}

input {
    height: 26px;
}

.buttonStyle {
    text-decoration: none;
    background-color: #FFC11E;
    border-radius: 5%;
    padding: 5px;
    color: black;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 5px 10px #A8A8A8;
}

form {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 40px;
    margin: 30px;
}

.toggleLink {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    box-shadow: 5px 5px 5px #DCDCDC;
    border: 1px solid #DCDCDC;
    transition: background-color 0.5s;
}

.toggleLink:hover {
    background-color: #DCDCDC;
}