<br/><br/><br/><br/>

<header>
    <h1>New recipe</h1>
</header>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel class="plain" id="toggle-1" title="Name">
                    <ng-template ngbPanelContent>
                        <div class="form-group">
                            <input type="text" name="Recipe_Name" id="Recipe_Name" formControlName="Recipe_Name">
                            <div *ngIf="form.get('Recipe_Name').hasError('pattern')" class="error">
                                Recipe Name has invalid characters
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel class="plain" id="toggle-1" title="Description">
                    <ng-template ngbPanelContent>
                        <div class="form-group">
                            <input type="text" name="Description" id="Description" formControlName="Description">
                            <div *ngIf="form.get('Description').hasError('pattern')" class="error">
                                Description has invalid characters
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel class="plain" id="toggle-1" title="Servings">
                    <ng-template ngbPanelContent>
                        <div class="form-group">
                            <input type="text" name="Servings" id="Servings" formControlName="Servings">
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel class="plain" id="toggle-1" title="Instructions">
                    <ng-template ngbPanelContent>
                        <div class="form-group">
                            <textarea name="Cooking_Instructions" id="Cooking_Instructions" formControlName="Cooking_Instructions"></textarea>
                            <div *ngIf="form.get('Cooking_Instructions').hasError('pattern')" class="error">
                                Instructions have invalid characters
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel class="plain" id="toggle-1" title="Ingredient 1">
                    <ng-template ngbPanelContent>
                        <div class="form-group">
                            <label for="Ingredient_ID1">Ingredient: </label>
                            <select name="Ingredient_ID1" id="Ingredient_ID1" formControlName="Ingredient_ID1" style="width: 53%">
                                <option>--Select--</option>
                                <option *ngFor="let ingredient of ingredients" [value]="ingredient.Ingredient_ID">
                                    {{ingredient.Ingredient_Name}}
                                </option>
                            </select>
                            <div class="form-group">
                                <label for="Measurement_ID1">Measurement: </label>
                                <select name="Measurement_ID1" id="Measurement_ID1" formControlName="Measurement_ID1" style="width: 53%">
                                <option>--Select--</option>
                                <option *ngFor="let measurement of measurements" [value]="measurement.Measurement_ID">
                                    {{measurement.Amount}} {{measurement.Measurement_Type}}
                                </option>
                                </select>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="toggle-2" title="Ingredient 2">
                    <ng-template ngbPanelContent>
                        <div class="form-group">
                            <label for="Ingredient_ID2">Ingredient: </label>
                            <select name="Ingredient_ID2" id="Ingredient_ID2" formControlName="Ingredient_ID2" style="width: 53%">
                                <option>--Select--</option>
                                <option *ngFor="let ingredient of ingredients" [value]="ingredient.Ingredient_ID">
                                    {{ingredient.Ingredient_Name}}
                                </option>
                            </select>
                            <div class="form-group">
                                <label for="Measurement_ID2">Measurement: </label>
                                <select name="Measurement_ID2" id="Measurement_ID2" formControlName="Measurement_ID2" style="width: 53%">
                                <option>--Select--</option>
                                <option *ngFor="let measurement of measurements" [value]="measurement.Measurement_ID">
                                    {{measurement.Amount}} {{measurement.Measurement_Type}}
                                </option>
                            </select>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <br/><br/>
            <div class="text-center">
                <button type="submit" [disabled]="!form.valid" class="btn buttonStyle">Submit</button>
                <div *ngIf="isShown">Recipe successfully created!</div>
            </div>
        </form>
    </div>
    <br/><br/><br/><br/>
</div>