<nav class="navbar navbar-dark navbar-expand-md navbarBackgroundColor">
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link navLinkStyle p-3" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/recipes" routerLinkActive="active" class="nav-link navLinkStyle p-3" href="#">Recipes</a>
            </li>
            <li class="nav-item">
                <a routerLink="/ingredients" routerLinkActive="active" class="nav-link navLinkStyle p-3" href="#">Ingredients</a>
            </li>
        </ul>
    </div>
</nav>
<img src="../assets/images/Cibus.jpg" alt="Not found" class="cibusImg" />
<router-outlet></router-outlet>