<br/><br/><br/><br/>

<section>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-10">
            <h1>{{article.Title}}</h1>
            <div style="font-size: 1.2rem">{{article.Summary}}</div>
            <br/>
            <div style="color:grey">
                by {{article.First_Name}} {{article.Last_Name}}
                <br/>{{article.Date}} | {{article.Reading_Time}} min read
            </div>

            <br/><br/>
            <img src="../assets/images/{{article.Image_URL2}}" loading="lazy">
            <br/><br/><br/><br/>
            <div style="font-size: 1.2rem">
                {{article.Paragraph1}}
                <br/><br/>{{article.Paragraph2}}
                <br/><br/>{{article.Paragraph3}}
                <br/><br/>{{article.Paragraph4}}
                <br/><br/>{{article.Paragraph5}}
            </div>
        </div>
    </div>
</section>

<br/><br/><br/><br/>

<section>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-10">
            <div style="font-weight:600; font-size: 1.5rem;">
                {{article.Comment_Count.COUNT}} Comment(s)
            </div>
            <br/>
            <div *ngFor="let comment of article.Comments">
                <div class="username">
                    <span style="color:rgb(32, 114, 38); font-weight: bold;">{{comment.Username}}</span><span style="color:grey"> said on {{comment.Created_At}}</span>
                </div>
                <div class="comment">{{comment.Text}}</div>
                <br/>
            </div>
        </div>
    </div>
</section>

<br/><br/><br/>

<section id="add-comment">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-10">
            <hr>
            <br/><br/><br/>
            <div style="font-weight:600; font-size: 1.5rem;">
                Leave a comment
            </div>
            <br/>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="add-comment-box">
                <div class="form-group">
                    <label form="Username" style="margin-right: 3%">Username <span style="color:rgb(32, 114, 38); font-weight: bold" title="Username required">*</span></label>
                    <input type="text" name="Username" id="Username" formControlName="Username">
                    <div *ngIf="form.get('Username').hasError('pattern')" class="error">
                        Username has invalid characters
                    </div>
                </div>
                <div class="form-group">
                    <textarea type="text" name="Text" id="Text" formControlName="Text" placeholder="Type your comment" style="padding:2%"></textarea>
                    <div *ngIf="form.get('Text').hasError('pattern')" class="error">
                        Comment has invalid characters
                    </div>
                </div>
                <br/>
                <div>
                    <button type="submit" [disabled]="!form.valid" class="btn buttonStyle">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

<br/><br/><br/><br/><br/><br/>

<footer-component></footer-component>