h5 {
    font-weight: normal;
}

.card {
    box-shadow: 10px 10px 10px #EBEBEB;
    height: 950px;
    width: 600px;
}

.container {
    max-width: max-content;
}

.btns {
    border: 2px solid black;
    border-radius: 5px;
}

.btns:hover {
    transform: scale(0.9);
    transition: 0.5s
}

@media screen and (max-width: 768px) {
    .card {
        width: 400px;
        height: 800px;
        font-size: 0.7rem;
    }
}