<footer style="border-top: 2px solid #E9E9E9">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                &copy; Cibus 2021
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                <a href=#>Terms and Conditions</a>|
                <a href=#>Privacy</a>|
                <a href=#>Accessibility</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <img src="../assets/images/facebook.png" alt="not found" />
                <img src="../assets/images/instagram.png" alt="not found" />
                <img src="../assets/images/twitter.png" alt="not found" />
            </div>
        </div>

    </div>
</footer>