<br/><br/><br/><br/>

<section>
    <div class="container">
        <h1 style="text-align: center;color:rgb(19, 83, 6); font-weight:bold">Grains</h1>
        <br/><br/><br/><br/><br/><br/>
        <div class="row" style="justify-content: center;">
            <div *ngFor="let ingredient of ingredients" style="margin: 2%">
                <div class="card">
                    <img class="card-img-top" src="../assets/images/{{ingredient.Image_URL}}" alt="Card image cap" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title">{{ingredient.Ingredient_Name}}</h5>

                        <a [routerLink]="['/ingredients', ingredient.Ingredient_ID]" class="btn buttonStyle">Details</a>


                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</section>

<footer-component></footer-component>