h4 {
    font-weight: bold;
}

.textStyle {
    text-align: justify;
    font-size: 1.3em;
}

.center {
    float: none;
    margin: 0 auto;
}

section {
    max-width: 100%;
    overflow-x: hidden;
}

input {
    border-radius: 5px;
    border: 1px solid grey;
    height: 40px;
    box-shadow: 5px 5px 5px #eeeeee;
}

::placeholder {
    color: #A8A8A8
}

#dish-pictures {
    text-align: center;
    color: black;
    box-shadow: 0 -4px 4px -4px #d4d4d4, 0 4px 4px -4px #d4d4d4;
}

.dish {
    text-align: center;
    background-color: rgb(67, 133, 54);
    color: white;
    padding: 2%;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 3%
}

.border1 {
    border: 2px solid #dfdfdf;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 5px 5px 5px #dfdfdf;
    border-radius: 5px;
}

.border2 {
    border: 1px solid #dfdfdf;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
}

#reviews .container {
    max-width: 1500px;
    background-color: white;
}

.provider-btn {
    font-size: 1.3rem;
}

#blog .container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: max-content;
    padding: 0;
    margin: 0 auto;
}

#blog img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.7;
}

.text-position {
    position: absolute;
    top: 10%;
}

@media screen and (max-width: 1000px) {
    #blog {
        height: 300px;
    }
    #blog img {
        visibility: hidden
    }
    #blog h2 {
        padding-top: 4%
    }
}

@media screen and (min-width: 1001px) and (max-width: 2000px) {
    #blog img {
        opacity: 0.3
    }
}