<br/><br/><br/><br/><br/>
<section style="padding-bottom: 5%">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 center fade-in">
                <h1 style="text-align: center">Why Cibus?</h1>
                <br/><br/><br/>
                <div class="textStyle">
                    Cibus recognizes the time and resources that are required to both eat healthy as well as find ingredients that are sourced from sustainable and small businesses. Discover fair trade products from locally sourced providers and share the best ways to prepare
                    them. Not feeling inspired? Follow our recipes to learn new skills, try new tastes, and make your family amazing meals. From favorites to gourmet dishes and more, variety is always on the menu. Eat well, eat wise!
                </div>
                <br/><br/><br/>
                <div style="text-align: center">
                    <button class="btn provider-btn shadow-none" [routerLink]="['/providers']">Discover our providers</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background-color:#F6F6F6">
    <div class="row">
        <img src="../assets/images/cooking.jpg" alt="Not found" class="jumbotron-img">
        <div class="col-xs-10 col-sm-10 col-md-7 col-lg-4 center">
            <br/><br/><br/><br/><br/><br/><br/>
            <h2>Easy recipes at your fingertips!</h2>
            <br/><br/><br/>
            <ul>
                <li>
                    <h5>Access our large catalog of recipes at the click of a button</h5>
                </li>
                <br/>
                <li>
                    <h5>Follow our easy step-by-step instructions and impress your friends and family</h5>
                </li>
                <br/>
                <li>
                    <h5>Browse our list of providers to find the freshest ingredients</h5>
                </li>
            </ul>
            <br/><br/><br/><br/><br/><br/>
        </div>
    </div>
</section>


<section>
    <div class="container fade-in">
        <br/><br/>
        <div class="row">
            <div class="col-sm-10 col-md-6 col-lg-6 p-5 center">
                <div class="signUpForm">
                    <br/><br/>
                    <h2>Sign Up</h2>
                    <p>Already a member? <a href="#">Log in.</a></p>
                    <br/>
                    <input type="text" placeholder="first name">
                    <br/><br/>
                    <input type="text" placeholder="last name">
                    <br/><br/>
                    <input type="text" placeholder="email">
                    <br/><br/>
                    <input type="text" placeholder="username">
                    <br/><br/>
                    <input type="text" placeholder="password">
                    <br/><br/><br/>
                    <button type="button" class="btn buttonStyle">Create an account</button>
                </div>
            </div>
        </div>
        <br/><br/>
    </div>
</section>


<footer style="border-top: 2px solid #E9E9E9">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                &copy; Cibus 2021
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                <a href=#>Terms and Conditions</a> &nbsp;&nbsp;&nbsp;
                <a href=#>Privacy</a> &nbsp;&nbsp;&nbsp;
                <a href=#>Accessibility</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <img src="../assets/images/facebook.png" alt="not found" />
                <img src="../assets/images/instagram.png" alt="not found" />
                <img src="../assets/images/twitter.png" alt="not found" />
            </div>
        </div>

    </div>
</footer>