.textStyle {
    text-align: justify;
    font-size: 1.5em;
}

.signUpForm {
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #A8A8A8;
    height: 37rem;
}

.center {
    float: none;
    margin: 0 auto;
}

section {
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 1350px) {
    .jumbotron-img {
        display: none;
    }
}

input {
    border-radius: 5px;
    border: 1px solid grey;
    height: 40px;
    box-shadow: 5px 5px 5px #eeeeee;
}

::placeholder {
    color: #A8A8A8
}

#dish-pictures {
    background-color: #F6F6F6;
    text-align: center;
    color: black;
    box-shadow: 0 -4px 4px -4px #d4d4d4, 0 4px 4px -4px #d4d4d4;
}

.dish {
    text-align: center;
    background-color: rgb(67, 133, 54);
    color: white;
    padding: 2%;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 3%
}

.border1 {
    border: 1px solid #dfdfdf;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 5px 5px 10px #dfdfdf
}

.border2 {
    border: 1px solid #dfdfdf;
    padding: 1%;
    margin: 2%;
}

#reviews .container {
    max-width: 1500px;
}

.provider-btn {
    font-size: 1.3rem;
}