<div class="container">
    <div class="row">
        <div class="col-sm-10 center">
            <br/><br/><br/>
            <h1>WELCOME!</h1>
            <br/><br/>
            <div class="textStyle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
    <br/><br/><br/>
    <div class="row">
        <div class="col-sm-6 p-5 center">
            <div class="signUpForm">
                <br/><br/>
                <h2>Sign Up</h2>
                <p>Already a member? <a href="#">Sign in.</a></p>
                <br/>
                <input type="text" placeholder="first name">
                <br/><br/>
                <input type="text" placeholder="last name">
                <br/><br/>
                <input type="text" placeholder="email">
                <br/><br/>
                <input type="text" placeholder="username">
                <br/><br/>
                <input type="text" placeholder="password">
                <br/><br/><br/>
                <button class="btn buttonStyle">Sign up</button>
                <br/><br/><br/>
            </div>
        </div>
    </div>
    <br/><br/><br/>
</div>