<section id="search" style="background-color:rgb(250, 250, 250); box-shadow: 0 -4px 4px -4px #d4d4d4, 0 4px 4px -4px #d4d4d4;">
    <br/><br/><br/><br/>
    <div class="container container-width">
        <div class="row">
            <div class="col-lg-4">
                <br/>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Find an ingredient" [(ngModel)]="term">
                </div>
            </div>
            <div class="col-lg-7" style="margin-top: 1%;">
                <img src="../assets/images/meat.png" alt="Not Found" title="meats" [routerLink]="['/meat']"> &nbsp;&nbsp;&nbsp;
                <img src="../assets/images/veggies.jpg" alt="Not Found" title="vegetables" [routerLink]="['/vegetables']"> &nbsp;&nbsp;&nbsp;
                <img src="../assets/images/fruits.png" alt="Not Found" title="fruits" [routerLink]="['/fruits']"> &nbsp;&nbsp;&nbsp;
                <img src="../assets/images/grain.jpg" alt="Not Found" title="grains" [routerLink]="['/grains']">
            </div>
        </div>
    </div>
    <br/><br/><br/><br/>
</section>

<section style="box-shadow: 0 -4px 4px -4px #d4d4d4, 0 4px 4px -4px #d4d4d4;">
    <br/><br/><br/>
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div *ngFor="let ingredient of ingredients | filter:term" style="margin: 2%">
                <div class="card">
                    <img class="card-img-top" src="../assets/images/{{ingredient.Image_URL}}" alt="Card image cap" loading="lazy">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">{{ingredient.Ingredient_Name}}</h5>
                        <a [routerLink]="['/ingredients', ingredient.Ingredient_ID]" class="btn buttonStyle">Details</a>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</section>

<footer-component></footer-component>