section {
    background-color: #FDFDFD;
}

.card {
    text-align: center;
    box-shadow: 10px 10px 10px #EBEBEB;
    width: 20rem;
    height: 23rem;
}

.card-img-top {
    width: 100%;
    Height: auto;
}

.add-ingredient-link {
    color: #ffc739;
}

.text-style {
    font-size: 1.5rem;
}