<br/><br/>
<section>
    <img src="../assets/images/back.png" class="btn go-back" style="margin-left:10%" [routerLink]="['/providers']">
</section>

<section style="background-color:rgb(253, 253, 253)">
    <br/><br/><br/>
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div *ngFor="let ingredient of ingredients" style="margin: 2%">
                <div class="card">
                    <img class="card-img-top" src="../assets/images/{{ingredient.Image_URL}}" alt="Card image cap" loading="lazy">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">{{ingredient.Ingredient_Name}}</h5>
                        <a [routerLink]="['/ingredients', ingredient.Ingredient_ID]" class="btn buttonStyle">Details</a>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</section>

<br/><br/>

<footer-component></footer-component>