<section id="search">
    <div class="container">
        <br/><br/><br/><br/><br/><br/>
        <div class="form-group">
            <input type="text" class="form-control" style="width:87%" placeholder="Find an ingredient" [(ngModel)]="term">
        </div>
        <span>
            <a [routerLink]="['/meat']">
                <img src="../assets/images/meat.png" alt="Not Found" title="meats">
            </a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/vegetables']">
                <img src="../assets/images/veggies.jpg" alt="Not Found" title="vegetables">
            </a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/fruits']">
                <img src="../assets/images/fruits.png" alt="Not Found" title="fruits">
            </a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/grains']">
                <img src="../assets/images/grain.jpg" alt="Not Found" title="grains">
            </a>
        </span>
        <br/><br/><br/><br/><br/><br/>

        <div class="row" style="justify-content: center;">
            <div *ngFor="let ingredient of ingredients | filter:term" style="margin: 2%">
                <div class="card">
                    <img class="card-img-top" src="../assets/images/{{ingredient.Image_URL}}" alt="Card image cap" loading="lazy">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">{{ingredient.Ingredient_Name}}</h5>
                        <a [routerLink]="['/ingredients', ingredient.Ingredient_ID]" class="btn buttonStyle">Details</a>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</section>

<footer-component></footer-component>