img {
    width: 100%;
    height: auto;
    display: block
}

.container {
    max-width: 2000px
}

.card {
    width: 500px;
    box-shadow: 10px 10px 10px #EBEBEB;
}

@media screen and (max-width: 768px) {
    .card {
        width: 250px;
        height: 550px;
    }
}