<section>
    <div style="padding-left: 20%">
        <br/><br/>
        <h1 style="padding-left:35% ">Providers</h1>
        <br/><br/><br/><br/><br/><br/>
        <div class="row ">
            <div class="col-sm-2 col-md-3 col-lg-4">
                <div *ngFor="let provider of providers">
                    <img src="../assets/images/placeholder.jpg " alt="Not found" loading="lazy">
                    <br/><br/>
                    <h2>{{provider.First_Name}} {{provider.Last_Name}}</h2>
                    <br/>
                    <h5>
                        {{provider.Organization_Name}}
                        <br/><br/> {{provider.Address}}
                        <br/> {{provider.City}}, {{provider.State}} {{provider.PostCode}}
                        <br/><br/> {{provider.Phone}}
                    </h5>
                    <br/>
                    <hr/><br/>
                </div>
            </div>
        </div>
    </div>
</section>