<section>
    <div class="container">
        <br/><br/>
        <h1 style="padding-left:32%">All Recipes</h1>
        <br/><br/><br/><br/><br/><br/>
        <div class="form-group">
            <input type="text" class="form-control" style="width:87%" placeholder="Find a recipe" [(ngModel)]="term">
        </div>
        <br/>
        <span>
            <a [routerLink]="['/vegan-recipes']" title="vegan">
                <img src="../assets/images/vegan.png" alt="Not found">
            </a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/vegetarian-recipes']" title="vegetarian">
                <img src="../assets/images/vegetarian.jpg" alt="Not Found">
            </a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/meat-recipes']">
                <img src="../assets/images/meat.png" alt="Not Found" title="meats">
            </a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/sides']" title="sides">
                <img src="../assets/images/sides.png" alt="Not Found">
            </a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/salads']" title="salads">
                <img src="../assets/images/salads.png" alt="Not Found">
            </a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/soups']" title="soups">
                <img src="../assets/images/soup.png" alt="Not Found">
            </a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/grain-recipes']" title="grains">
                <img src="../assets/images/grain.jpg" alt="Not Found">
            </a>
        </span>
        <br/><br/><br/><br/><br/><br/>
        <a class="addButton" [routerLink]="['/add-recipe']">Add a new recipe</a>
        <br/><br/><br/>
        <div class="row">
            <div *ngFor="let recipe of recipes | filter:term" style="padding: 2%">
                <div class="card">
                    <img class="card-img-top" src="../assets/images/placeholder.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.Recipe_Name}}</h5>
                        <span>
                            <a [routerLink]="['/recipes', recipe.Recipe_ID]" class="btn buttonStyle">Details</a>
                            &nbsp;
                            <a [routerLink]="['/update-recipe', recipe.Recipe_ID]" class="btn buttonStyle">Update</a>
                            &nbsp;
                            <a [routerLink]="['/delete-recipe', recipe.Recipe_ID]" class="btn buttonStyle">Delete</a>
                        </span>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</section>