h5 {
    font-weight: normal;
}

.text-style {
    font-size: 1rem;
}

.add-recipe-link {
    color: #498025;
}

.card {
    text-align: center;
    box-shadow: 10px 10px 10px #EBEBEB;
    width: 22rem;
    height: 25rem;
}

.container-width {
    max-width: 1210px;
}

@media screen and (max-width: 768px) {
    .text-style {
        margin-top: 5%
    }
    #search img {
        width: 12%;
        margin-right: 4%;
        margin-top: 4%;
        display: inline-block;
    }
    .card {
        width: 250px;
        height: 325px;
    }
    .buttonStyle {
        font-size: 0.7em;
        padding-left: 5px;
        padding-right: 5px;
    }
}

#list .container {
    max-width: 1500px;
}