<section class="p-5">
    <h5>
        <label for="Recipe_Name">Select a recipe:&nbsp;&nbsp;</label>
        <select (change)="selectRecipeHandler($event)" style="width:20%">
            <option>--Select--</option>
            <option *ngFor="let recipe of recipes" [value]="recipe.Recipe_ID">
                {{recipe.Recipe_Name}}
            </option>
        </select>
        <br/><br/>Can't find what you're looking for?
        <a [routerLink]="['/add-recipe']">Add a new recipe.</a>


    </h5>
</section>