h5 {
    font-weight: normal;
}

.text-style {
    font-size: 1rem;
}

.add-recipe-link {
    color: #498025;
}

.card {
    text-align: center;
    box-shadow: 10px 10px 10px #EBEBEB;
    width: 20rem;
    height: 23rem;
}

@media screen and (max-width: 768px) {
    .card {
        margin-left: 30%
    }
}