<section id="search" style="box-shadow: 0 -4px 4px -4px #d4d4d4, 0 4px 4px -4px #d4d4d4;">
    <br/><br/><br/><br/>
    <div class="container container-width">
        <div class="row">
            <div class="col-lg-4">
                <br/>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Find a recipe" [(ngModel)]="term">
                </div>
            </div>
            <div class="col-lg-7" style="margin-top: 1%">
                <img src="../assets/images/vegan.png" alt="Not found" [routerLink]="['/vegan-recipes']" title="vegan" style="padding-left:2%; padding-right:2%; padding-bottom:2%">
                <img src="../assets/images/vegetarian.jpg" alt="Not Found" [routerLink]="['/vegetarian-recipes']" title="vegetarian" style="padding-left:2%; padding-right:2%; padding-bottom:2%">
                <img src="../assets/images/meat.png" alt="Not Found" [routerLink]="['/meat-recipes']" title="meats" style="padding-left:2%; padding-right:2%; padding-bottom:2%">
                <img src="../assets/images/sides.png" alt="Not Found" [routerLink]="['/sides']" title="sides" style="padding-left:2%; padding-right:2%; padding-bottom:2%">
                <img src="../assets/images/salads.png" alt="Not Found" [routerLink]="['/salads']" title="salads" style="padding-left:2%; padding-right:2%; padding-bottom:2%">
                <img src="../assets/images/soup.png" alt="Not Found" [routerLink]="['/soups']" title="soups" style="padding-left:2%; padding-right:2%; padding-bottom:2%">
                <img src="../assets/images/grain.jpg" alt="Not Found" [routerLink]="['/grain-recipes']" title="grains" style="padding-left:2%; padding-right:2%; padding-bottom:2%">
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <div class="text-style" style="float: left">
                    Can't find what you're looking for? <a [routerLink]="['/add-recipe']" class="add-recipe-link">Add a new recipe</a>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/>
</section>

<section id="list" style="background-color:rgb(250, 250, 250); box-shadow: 0 -4px 4px -4px #d4d4d4">
    <br/><br/><br/>
    <div class="container ">
        <div class="row " style="justify-content: center; ">
            <div *ngFor="let recipe of recipes | filter:term " style="margin: 2% ">
                <div class="card ">
                    <img class="card-img-top " src="../assets/images/{{recipe.Image_URL}} " alt="Card image cap " loading="lazy ">
                    <div class="card-body " style="text-align: center; ">
                        <h5 class="card-title ">{{recipe.Recipe_Name}}</h5>
                        <span>
                                <a [routerLink]="[ '/recipes', recipe.Recipe_ID] " class="btn buttonStyle ">Details</a>&nbsp;
                                <a [routerLink]="[ '/update-recipe', recipe.Recipe_ID] " class="btn buttonStyle ">Update</a>&nbsp;
                                <a [routerLink]="[ '/delete-recipe', recipe.Recipe_ID] " class="btn buttonStyle ">Delete</a>
                            </span>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</section>
<footer-component></footer-component>