<br/><br/><br/><br/>

<section>
    <div class="container">
        <h1 style="text-align: center;color:rgb(19, 83, 6); font-weight:bold">Salads</h1>
        <br/><br/><br/><br/><br/><br/>
        <div class="row" style="justify-content: center;">
            <div *ngFor="let recipe of recipes" style="margin: 2%">
                <div class="card">
                    <img class="card-img-top" src="../assets/images/{{recipe.Image_URL}}" alt="Card image cap" loading="lazy">
                    <div class="card-body" style="text-align:center;">
                        <h5 class="card-title">{{recipe.Recipe_Name}}</h5>
                        <span>
                            <a [routerLink]="['/recipes', recipe.Recipe_ID]" class="btn buttonStyle">Details</a>
                            &nbsp;
                            <a [routerLink]="['/update-recipe', recipe.Recipe_ID]" class="btn buttonStyle">Update</a>
                            &nbsp;
                            <a [routerLink]="['/delete-recipe', recipe.Recipe_ID]" class="btn buttonStyle">Delete</a>
                        </span>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</section>
<footer-component></footer-component>