h5 {
    font-weight: normal;
}

.card {
    box-shadow: 10px 10px 10px #EBEBEB;
    height: 930px;
    width: 600px;
}

.card:hover {
    transform: none;
}

.container {
    max-width: max-content;
}