<br/><br/><br/><br/><br/>

<section>
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-sm-10">
                <div class="card">
                    <img src="../assets/images/{{ingredient.Image_URL}}" class="card-img-top img-fluid" alt="Not Found">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center;">{{ingredient.Ingredient_Name}}</h2>
                        <br/>
                        <div class="card-text">
                            <h5>Proteins: {{ingredient.Protein}}g</h5>
                            <h5>Carbohydrate: {{ingredient.Carbohydrate}}g</h5>
                            <h5>Sugar: {{ingredient.Sugar}}g</h5>
                            <h5>Fat: {{ingredient.Fat}}g</h5>
                            <h5>Sodium: {{ingredient.Sodium}}mg</h5>
                            <h5>Calories: {{ingredient.Calories}}kcal</h5>
                            <br/>
                            <h5>Tags:
                                <span *ngFor="let category of ingredient.Categories">
                                        <span class="badge badge-success" style="font-weight:normal; margin-right:2%; padding: 1%">{{category.Category_Name}}</span>
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br/><br/><br/><br/><br/>

<footer-component></footer-component>

<router-outlet></router-outlet>