img {
    width: 100%;
    height: auto;
}

.card {
    width: 150px;
    height: 175px;
    border: none;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

.card:hover {
    transform: scale(0.9);
    transition: 0.5s
}