<br/><br/><br/><br/>

<section id="project-description">
    <div class="container">
        <div class="row">
            <div class="col-lg-11" style="text-align:justify">
                <h3 style="color:rgb(50, 107, 42)">How it all began</h3>
                <hr style="border-top: 2px solid black">
                <br/>
                <div style="font-size:1.1rem">
                    Cibus started out as a class project. The goal was to build a production-ready, responsive web application using full-stack technologies to help consumers create healthy meals based on environmental sustainable strategies and small business ecosystems.
                    I initially worked on this project with two other classmates. Together, we interviewed the client, collected and analyzed business requirements, translated them into functional requirements, and created technical documentation – a
                    UML Use Case diagram, a UML Component diagram, an Entity-Relationship diagram, and wireframes. Finally, we developed an MVP using a multi-layered architecture consisting of a presentation tier, a Node.js middle-tier API, and a data
                    tier that leverages a SQLite relational database for persistence. The initial application allowed users and providers to manage recipes and ingredients.
                </div>
            </div>
        </div>
    </div>
</section>

<br/><br/><br/><br/>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-11" style="text-align: justify">
                <h3 style="color:rgb(50, 107, 42)">What it has become</h3>
                <hr style="border-top: 2px solid black">
                <br/>
                <div style="font-size:1.1rem">Once the course ended, I continued to work on this project alone. After multiple iterations, Cibus evolved into a streamlined experience where end users can look up recipes, filter them, create new ones, search for ingredients, and get
                    in touch with local providers. I completed overhauled the design and feel of the website, changed the color scheme, incorporated simple, elegant visuals, and added controls for a smoother navigation experience.<br/><br/>I also built
                    a blog component to share information about food trends and provide a space for the exchange of ideas and opinions. This required modifying the inital database design to accomodate additional tables as well as updating the API accordingly
                    to process new requests like retrieving articles, posting comments, tracking the number of comments per article, etc. <br/><br/>Another important change I made was to modify how to delete recipe records. Instead of allowing users to
                    remove them permanently from the database, I provided a way to hide them so that they are never completely gone. To do so, I added a boolean datatype column named "isVisible" to the Recipe table. In the API function that retrieves
                    recipes from the database, I rewrote the SQL query so that only those recipes where "isVisible" is set to true are displayed when the user sends a request to the server. Deleting a recipe sets "isVisible" to false, thus concealing
                    it from users rather than removing it forever.
                </div>
            </div>
        </div>
    </div>
</section>

<br/><br/><br/><br/>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <h3 style="color:rgb(50, 107, 42)">Technologies</h3>
                <hr style="border-top: 2px solid black ">
                <br/><br/><br/>
                <div class="row " style="justify-content: space-around; ">
                    <div class="card ">
                        <img class="card-img-top pt-2 " src="../assets/images/angular.jpg " alt="Not found " loading="lazy ">
                        <div class="card-body " style="text-align: center; ">
                            <div class="card-title " style="font-size: 1rem;">Angular</div>
                        </div>
                    </div>
                    <div class="card ">
                        <img class="card-img-top pt-2 " src="../assets/images/node.png " alt="Not found " loading="lazy ">
                        <div class="card-body " style="text-align: center; ">
                            <div class="card-title " style="font-size: 1rem;">Node.js</div>
                        </div>
                    </div>
                    <div class="card ">
                        <img class="card-img-top pt-2 " src="../assets/images/SQLite.png " alt="Not found " loading="lazy ">
                        <div class="card-body " style="text-align: center; ">
                            <div class="card-title " style="font-size: 1rem;">SQLite</div>
                        </div>
                    </div>
                    <div class="card ">
                        <img class="card-img-top pt-2 " src="../assets/images/javascript.png " alt="Not found " loading="lazy ">
                        <div class="card-body " style="text-align: center; ">
                            <div class="card-title " style="font-size: 1rem;">JavaScript</div>
                        </div>
                    </div>
                    <div class="card ">
                        <img class="card-img-top pt-2 " src="../assets/images/typescript.png " alt="Not found " loading="lazy ">
                        <div class="card-body " style="text-align: center; ">
                            <div class="card-title " style="font-size: 1rem;">TypeScript</div>
                        </div>
                    </div>
                    <div class="card ">
                        <img class="card-img-top pt-2 " src="../assets/images/html5.png " alt="Not found " loading="lazy ">
                        <div class="card-body " style="text-align: center; ">
                            <div class="card-title " style="font-size: 1rem;">HTML5</div>
                        </div>
                    </div>
                    <div class="card ">
                        <img class="card-img-top pt-2 " src="../assets/images/css3.png " alt="Not found " loading="lazy ">
                        <div class="card-body " style="text-align: center; ">
                            <div class="card-title " style="font-size: 1rem;">CSS3</div>
                        </div>
                    </div>
                    <div class="card ">
                        <img class="card-img-top pt-2 " src="../assets/images/bootstrap.png " alt="Not found " loading="lazy ">
                        <div class="card-body " style="text-align: center; ">
                            <div class="card-title " style="font-size: 1rem;">Bootstrap</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br/><br/><br/>
<footer-component></footer-component>