h5 {
    font-weight: normal;
}

.card {
    text-align: center;
    box-shadow: 10px 10px 10px #EBEBEB;
    width: 20rem;
    height: 23rem;
}

@media screen and (max-width: 768px) {
    .card {
        width: 250px;
        height: 325px;
    }
}