    /* You can add global styles to this file, and also import other style files */
    
    .buttonStyle {
        text-decoration: none;
        border: 2px solid rgb(34, 134, 14);
        border-radius: 5px;
        padding: 5px;
        font-size: 1em;
        padding-left: 15px;
        padding-right: 15px;
        color: rgb(34, 134, 14);
    }
    
    .buttonStyle:hover {
        background-color: rgb(34, 134, 14);
        transform: scale(0.9);
        transition: 0.5s;
        color: white;
    }
    
    section {
        font-family: Verdana, Tahoma, serif;
    }
    
    .fade-in {
        animation: fadeIn ease 1s;
        -webkit-animation: fadeIn ease 1s;
        -moz-animation: fadeIn ease 1s;
        -o-animation: fadeIn ease 1s;
        -ms-animation: fadeIn ease 1s;
    }
    
    #search img:hover {
        transform: scale(0.8);
        transition: 0.5s
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }